{% extends 'base.html' %}
{% load static %}


{% block main %}
<div class="container d-flex justify-content-between">
    <div class="card mx-3 my-3" style="max-width: 650px;">
        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center">
                <img height="250" width="250" src="{% static 'blog/img/dev.jpg' %}" class="mx-2 mb-2 mt-2 rounded" alt="...">
            </div>
            <div class="">
                <div class="card-body">
                    <h3 class="card-title">Azamat Yaxyoyev</h3>
                    <h6 class="card-text">Back end developer</h6>
                    <p class="card-text">Back-end development means working on server-side software, which focuses on
                        everything you can’t see on a website.</p>
                    <div class="d-flex justify-content-between link-dark">
                        <a href="" class="link-dark">
                            <i class="fa-brands fa-instagram fa-3x"></i>
                        </a>
                        <a href="" class="link-dark">
                            <i class="fa-brands fa-telegram fa-3x"></i>
                        </a>
                        <a href="" class="link-dark">
                            <i class="fa-brands fa-facebook fa-3x"></i>
                        </a>
                        <a href="" class="link-dark">
                            <i class="fa-brands fa-twitter fa-3x"></i>
                        </a>
                        <a href="" class="link-dark">
                            <i class="fa-brands fa-github fa-3x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mx-3 my-3" style="max-width: 650px;">
        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center">
                <img height="250" width="250" src="{% static 'blog/img/dev.jpg' %}" class="mx-2 mb-2 mt-2 rounded" alt="...">
            </div>
            <div class="">
                <div class="card-body">
                    <h3 class="card-title">Azamat Yaxyoyev</h3>
                    <h6 class="card-text">Back end developer</h6>
                    <p class="card-text">Back-end development means working on server-side software, which focuses on
                        everything you can’t see on a website.</p>
                    <div class="d-flex justify-content-between link-dark">
                        <a href="" class="link-dark">
                            <i class="fa-brands fa-instagram fa-3x"></i>
                        </a>
                        <a href="" class="link-dark">
                            <i class="fa-brands fa-telegram fa-3x"></i>
                        </a>
                        <a href="" class="link-dark">
                            <i class="fa-brands fa-facebook fa-3x"></i>
                        </a>
                        <a href="" class="link-dark">
                            <i class="fa-brands fa-twitter fa-3x"></i>
                        </a>
                        <a href="" class="link-dark">
                            <i class="fa-brands fa-github fa-3x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}


{% block script %}

{% endblock script %}

